h1 {
    color: pink;
    font-size: 50pt;
}

.firstpar {
    margin-top: 40px;
}

h2 {
    color: pink;
    margin-top: 40px;
    margin-bottom: 40px;
}

body {
    background-color: black;
    color: white;
    font-size: 20pt
}


.crystaldiv {
    display: flex;
    align-items: center;
}

.crystal {
 height: 100px;
 width: 100px;   
 margin: 20px;
}

.textarea {
    margin-top: 20px;
    border: 1px black;
}